.horizontal-inputs{
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #ecf6f7;
}

.horizontal-inputs input{
    width: 34%;
    padding: 8px;
    border: 1px solid lightgray;
}